.Form-ventas{
    width: 550px;
    height: 410px;
    padding: 25px 15px;
    background: #d9d9d9;
    border-radius: 18px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
